/* FLASH MESSAGES */

.flash-messages {
    margin: 10px 0; /* Adds spacing arount the messages */
}

.flash {  
    padding: 10px;         /* Padding inside */
    margin-bottom: 10px;   /* Spacing between messages */
    border-radius: 5px;    /* Rounded corners */
}

/* Success styling */
.flash.success {
    background-color: #d4edda;  /* Green background */
    color: #155724;
}

/*  Error styling */
.flash.error {
    background-color: #f8d7da;  /* Red backgound */ 
    color: #721c24;
}

/* BODY - General styling for website */
body {
    font-family: 'Arial', sans-serif; /* Website font */
    margin: 0 auto;       /* Centres content */
    padding: 0;          
    box-sizing: border-box; 
}

/* MAIN */
main {
    background-color: #f8f9fa;  /* Light grey background styling for each page inheriting from base */
}

/* HEADER */

/* Navbar inside header */
header .navbar {
    background-color: #ffffff !important; /* white background */
    border-bottom: 1px solid #ddd;   /* Grey border below navbar */
    padding: 10px 20px;
    margin-bottom: 40px; /* Space between header and main content */
}

/* HEADER LOGO */
header .logo-image {
    width: 110px;
    height: auto;   /* Keeps the correct ratio for the image height */
    transition: width 0.3s ease; /* Hover effect */
}

/* Responsive logo sizes */
@media (max-width: 768px) {
    header .logo-image {
        width: 50px; /* medium screens */
    }
}

@media (max-width: 576px) {
    header .logo-image {
        width: 40px; /* small screens */
    }
}

/* NAVIGATION LINKS */

/* Colour, font size, and margins for links */
header .navbar-nav .nav-item .nav-link {
    color: #333;
    font-size: 18px;
    margin: 0 20px;
}

/* Hover for nav links */
header .navbar-nav .nav-item .nav-link:hover {
    color: #39b1a6;
}

/* Vertical Divider */
header .vertical-divider {
    border-left: 2.5px dashed #504EC1;
    height: 70px;
    margin: 0 15px;
    padding-left: 5px;
}

/* Hides the vertical divider from the dropdown menu */
@media screen and (max-width: 994px) {
    .vertical-divider {
    display: none;
    }
}

/* Login and Signup Buttons */
header.navbar .auth-buttons .btn-outline-primary, header .auth-buttons .btn-primary {
    border-radius: 10px; /* Rounded corners */
    padding: 10px 10px; 
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease; /* Hover effect */
    margin-right: 20px; /* Adds space to the right of the button */
}

/* Outline styling for login button */
header.navbar .auth-buttons .btn-outline-primary {
    border-color: #2AAA94;
    color: #2AAA94;
    margin-left: 25px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Hover effect for outline */
.navbar .auth-buttons .btn-outline-primary:hover {
    background-color: #504EC1;
    border-color: #2AAA94;
    color: #fff;
}

/* FOOTER */

/* Footer Container */
footer .footer-container {
    background: linear-gradient(100deg, #341F9D, #7352E6); /* Graident background */
    color: white;
    margin-top: 20px; /* Space above footer - breaks up the main content */
    padding: 70px 120px 10px 120px;    /* Footer padding inside */
}

/* Footer Vertical divider - Can be edited in later
footer .vertical-divider {
    width: 1px; 
    height: 100px; 
    border: 1px solid white;
    flex: 0 0 auto; /* Prevents the divider from growing or shrinking 
}*/

/* Columns */
footer .footer-content {
    display: flex;   /* Flexbox layout */
    justify-content: space-between;    /* Columns with space between */
    gap: 20px;  /* Column gap */
}

/* FOOTER LOGO */
footer .footer-logo {
    width: 110px;
    margin-bottom: 20px;
}

/* Text under logo */
footer .logo-text {
    max-width: 500px;
    font-size: 14px;
    color: white;
}
  
/* FOOTER LINKS */
footer .footer-links {
    text-align: left;
}

/* Main Headings */
footer .footer-links h5 {
    font-size: 19px;
    margin-bottom: 10px;  /* Space below headings */
    margin-top: 30px;     /* Space above headings */
    position: relative;  /* For use of ::after */
}
  
/* Underline styling for headings */
footer .footer-links h5::after,
footer .contact-info h5::after {
    content: "";     /* Empty content */
    display: block;
    width: calc(100% + 0.5em);       /* Underline width to text length */
    height: 2px;                    /* Line height */
    max-width: 20%;                /* Max width */
    background-color: white;   /* Colour of underline */
    margin-top: 5px;
    margin-bottom: 20px;    /* Space between underline and column content */
}

footer .links-container {
    display: flex;
    gap: 30px; /* gap between links */
}

footer .links-container ul {
    list-style: none;
    padding: 0;
}

footer .links-container ul li {
    margin-bottom: 10px;
}

footer .links-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer .links-container ul li a:hover {
    color: #2AAA94;
}
  
/* Contact info */
footer .contact-info {
    text-align: left;
}

footer .contact-info h5 {
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
}
  
footer .contact-info p {
    font-size: 14px;
    margin-bottom: 8px;
}
  
footer .contact-info i {
    margin-right: 20px;
}

/* Social media icons */
footer .social-media {
    text-align: right;   /* Aligns icons to the right */
    margin: 20px 0;
}
  
footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
}
  
footer .social-media i {
    display: inline-block;
    font-size: 18px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #5c23d6;
    border-radius: 50%;
    transition: background 0.3s;
}

footer .social-media i:hover {
    background: #2AAA94;   /* Hover colour */
}

/* Divider and copyright */
footer .footer-divider {
    margin: 20px 0;
    border-top: 1px solid white;
}
  
footer .copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
  
/* Responsive */
@media screen and (max-width: 1364px) {
    footer .footer-content,
    footer .contact-info,
    footer .footer-links {
      flex-direction: column;
      align-items: center; 
      text-align: center;       /* Centers the social media icons */
      padding-top: -15px;
    }

    footer .footer-links h5::after,
    footer .contact-info h5::after {
        margin-left: auto;
        margin-right: auto;     /* Centers the underline */
    }

    footer .social-media {
        padding-top: 30px;    /* Spacing for icons */
        text-align: center;
    }
}