/* FLASH MESSAGES */

.flash-messages {
    margin: 10px 0;
}
.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.flash.success {
    background-color: #d4edda;
    color: #155724;
}
.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* BODY */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F1F7FF;
}

/* Header */
header.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    gap: 5px; /* spacing between logo and text */
}

.navbar-brand img {
    width: 60px;
    height: auto;
}

.logo-text {
    font-weight: bold;
    color: #2a2a72;
    font-size: 16px;
}

.logo-subtext {
    color: #39b1a6;
    font-size: 12px;
    font-style: italic;
}

/* Navigation Links */
.navbar-nav .nav-item .nav-link {
    color: #333;
    font-size: 16px;
    margin: 0 10px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #2a2a72;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #39b1a6;
}

/* Vertical Divider */
.vertical-divider {
    border-left: 1px dashed #8a2be2;
    height: 40px;
    margin: 0 15px;
}

/* Login and Signup Buttons */
.auth-buttons .btn-outline-primary {
    border-color: #2AAA94;
    color: #2AAA94;
    border-radius: 20px;
}

.auth-buttons .btn-outline-primary:hover {
    background-color: #2AAA94;
    color: #fff;
}

.auth-buttons .btn-primary {
    background-color: #2AAA94;
    border-color: #2AAA94;
    border-radius: 20px;
}

.auth-buttons .btn-primary:hover {
    background-color: #6c1fa1;
    border-color: #6c1fa1;
}

/* Responsive for small screens*/
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    .vertical-divider {
        display: none;
    }
}