/* For the container of all content, use a flexbox */
.profileContainer {
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
    position: relative;
}

/* Background image will take the full width and be behind the content */
.bgContain {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 0;
}

.profileBg {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 586px;
}

/* User profile image will be centered on top */
.userProf {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 500px; /* Adjust according to your needs */
    left: 30px;
    z-index: 2;
}

.defualtProfilePic {
    max-width: 200px;
    min-width: 100px;
    height: auto;
    margin-top: 0; /* Remove top margin */
}

/* For the plus image */
.plus {
    cursor: pointer;
    position: absolute;
    display: block;
    max-width: 39px;
    min-width: 39px;
    height: auto;
    margin-top: 120px;
    left: 190px;
}

.file-input {
    display: none;
}

.headerTwo {
    font-weight: bold;
}

/* User profile info */
.userProfInfo {
    margin-top: 200px; /* Push the profile info down */
    z-index: 1;
}
