<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- For responsive webpage, mobile friendly-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">  <!-- Default website font -->
    <script src="https://kit.fontawesome.com/017c367aad.js"></script>  <!-- Font/icon kit -->
    <title>Attack Aware - Protect Yourself</title>
</head>

<body>

<header>
        <!-- Header content -->
</header>

<nav>
        <!-- Navigation bar -->
</nav>

<main> 
{% block content %}{% endblock %}          <!-- Main inheritable content -->

<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
</main>

<footer>
        <!-- Footer content -->
</footer>

</body>
</html>