<!-- Main home page -->

{% extends 'base.html' %}           <!-- Inherits code from the base.html file -->

{% block title %}  {% endblock %}  <!-- Custom header -->

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}

<hr class="line"/>  <!-- Addming horizontal lines -->

<div class="imgAndFormDiv"> <!-- Creating div to align img & form with each other -->

<div class="logoTwoDiv"> 
<img class="logoTwo" src="{{ url_for('static', filename='/img/logos/Logo 2.png') }}" alt="Attack Aware Logo Dark Blue"> 
</div>

<div class="loginForm">
<form action=" "> <!-- Action still needs to be called -->

<div class="inputContainer"> <!-- New container for inputs and button -->
  <div class="emailDiv">
    <label for="emailAddress">Email Address: </label>
    <input type="text" class="emailInput" name="emailInput"/>
  </div>

  <div class="passwordDiv">
    <label for="password">Password:</label>
    <input type="text" class="passwordInput" name="passwordInput"/>
  </div>

  <div class="loginDiv">
    <input class="button" type="submit" value="Login">
  </div>

</div>
</form>
</div>

<div class="archContainer">
<img class="largeArchImg" src="{{ url_for('static', filename='img/icons/Arch.png') }}">
<img class="medArchImg" src="{{ url_for('static', filename='img/icons/Arch.png') }}">
<img class="smallArchImg" src="{{ url_for('static', filename='img/icons/Arch.png') }}">
</div>

</div>

<hr class="line"/>

<div class="welcomeContainer">

<div class="welcomeGraph">
<h1>
      <div class="headingBlack">Welcome</div> <div class="headingTeal">Message</div>
</h1>
<p>
    Welcome to AttackAware! Start your journey to better cybersecurity. Sign in or create an account to begin protecting your digital world....
</p>
</div>

<div class="signUpForm">
<form action="">         <!-- Action still needs to be called -->
      <h1>Sign Up</h1>
      <p>Create an Account</p>
      <br>
      <br>
    <div class="nameInputs">
      <input type="text" class="firstName" name="firstName" value="First Name" required>
      <input type="text" class="lastName" name="lastName" value="Last Name" required>
    </div>
      <input type="text" class="mobileOrEmail" name="mobileOrEmail" value="Mobile or Emial Address" required>
      <input type="text" class="newPassword" name="newPasword" value="New Password" required>

      <input class="button" type="submit" value="Create Account"> 

</form>

</div>

</div>

<hr class="thickLine">

<div class="featuredGraph">

<h1>  <div class="headingBlack">Featured </div> 
  <div class="headingTeal">Courses</div>  
</h1>

<p>
  Explore our top cybersecurity guides, including step-by-step 
  advice on handling the most common threats like ransomware 
  and phishing. Dive into interactive scenarios to 
  test your skills and improve your response to real-world cyber attacks.
</p>

</div>

<section class="tilesContainer">
     <div class="tile"> Interactive Cyber Threat Simulations </div>
     <div class="tile">Latest Threat Alerts</div>
     <div class="tile"> Stay Updated on the Top 5 Cyber Risks</div>
     <div class="tile"> Step-by-Step Security Guides</div>
      <div class="tile"> Manage your own Account</div>
     <div class="tile">Knowledge Quizzes </div>
</section>

{% endblock %}