{% extends 'base.html' %}           <!-- Inherits code from the base.html file -->

{% block title %} Profile Page {% endblock %}  <!-- Custom header -->

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/threats.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}

<h1 class="headerOne">User Profile</h1>

<div class="profileContainer">
<div class="bgContain">
<img class="profileBg" src="{{ url_for('static', filename='img/img/profileImg.jpg') }}" alt="Picture of laptop with darker background">
</div>

<form action="{{ url_for('profile') }}" method="post">

<!--Create default profile-->
<div class="userProf">
   <img id="defaultProfilePic" class="defualtProfilePic" 
src="{{ url_for('static', filename='img/icons/user.png') }}"
alt="User Profile Image">

   <!-- Custom button with plus icon that triggers the hidden file input -->
   <label for="profile-picture-upload">
      <img class="plus" 
      src="{{ url_for('static', filename='img/icons/plusTwo.png') }}" 
      alt="Upload">
  </label>

  <!-- Hidden file input -->
  <input id="profile-picture-upload" class="file-input" 
  type="file" name="profilePic" accept="image/*" 
  onchange="previewImage(event);">

    
</div>

</div>

<div class="userProfInfo">
   
      <h1 class="headerTwo">
         <div class="headingBlack">User</div> <div class="headingTeal">Profile</div>
    </h1>

           {% with messages = get_flashed_messages(category_filter='update') %} 
             <!-- category_filter='update' is 
             the part that lets the flash message
             only show up for this form -->
           {% if messages %}
           <ul class="flashes contactUL">
           {% for message in messages %}
           <li class="flashItem contactLI">
           <img class="iconSpesification" src="{{ url_for('static', filename='/img/icons/warning.png') }}" alt="Warning Icon"> 
           <span class="flashMessage">{{ message }}</span>
           </li>
           {% endfor %}
           </ul>
           {% endif %}
           {% endwith %}

    <br>
   <div class="profInfoFields">
      <label for="firstName">First Name: </label>
      <input type="text" class="changeFirstName" name="firstName" value="{{ user.firstName }}" required>
      
      <label for="lastName">Last Name:</label>
      <input type="text" class="changeLastName" name="lastName" value="{{ user.lastName }}" required>
      
      <label for="email">Email:</label>
      <input type="text" class="changeEmail" name="email" value="{{ user.email }}" required>
      
      <label for="email">Date of Birth:</label>
      <input type="date" class="changeBirthday" name="birthday" value="{{ user.birthday.strftime('%Y-%m-%d') }}" required>
      
   <div class="flexButtons">
      <input class="button" name="" type="button" value="Change Password">
      <input class="confirmButton" name="action" type="submit" value="Confirm">
   </div>
   </div>

   </form>


</div>

<script src="{{ url_for('static', filename='js/profile.js') }}"></script>

{% endblock %}