{% extends 'base.html' %}           <!-- Inherits code from the base.html file -->

{% block title %} Home Page {% endblock %}  <!-- Custom header -->

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/threats.css') }}">
{% endblock %}

{% block content %}

<h1 class="headerOne">User Profile</h1>

<div class="profileContain">
<img class="profileImg" src="{{ url_for('static', filename='img/img/profileImg.jpg') }}" alt="Picture of laptop with darker background">
</div>

<!-- For profile pic https://www.youtube.com/watch?v=5PkulS_7KJo&list=PLCC34OHNcOtolz2Vd9ZSeSXWc8Bq23yEz&index=36-->

{% endblock %}