<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Attacks - Threats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/threats.css') }}">
</head>
<body>

<nav> <!-- Navbar -->
    <button>Log Out</button>
    <div class="logo">AttackAware</div>
    <ul> <!-- Navigation links that might change -->
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="modules.html">Modules</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
    <input type="text" placeholder="search"> <!-- For the Search bar -->
</nav>

<main>
    <h1>Cyber Attacks</h1>
    <section class="top-risks">
        <h2>Top<span class="highlight-top"> Five</span> Risks</h2>
        <p>In today's rapidly evolving digital landscape, these top 5 cyber risks highlight the most critical threats individuals and organisations face, offering insight into the vulnerabilities that require immediate attention and proactive defence.</p>

        <div class="risks-container">
            <a href="social_engineering.html" class="risk-card"> <!-- Link to Social Engineering html -->
                <img src="{{ url_for('static', filename='img/social_engineering.png') }}" alt="Social Engineering / Phishing">
                <p>Social Engineering Attacks / Phishing</p>
            </a>

            <a href="{{ url_for('ransomware') }}" class="risk-card"> <!-- Link to Ransomware html -->
                <img src="{{ url_for('static', filename='img/ransomware.png') }}" alt="Ransomware">
                <p>Ransomware</p>
            </a>

            <a href="cyber_hygiene.html" class="risk-card"> <!-- Link to Poor Cyber Hygiene html-->
                <img src="{{ url_for('static', filename='img/cyber_hygiene.png') }}" alt="Poor Cyber Hygiene">
                <p>Poor Cyber Hygiene</p>
            </a>

            <a href="iot_hacking.html" class="risk-card"> <!-- Link to IoT Device Hacking html -->
                <img src="{{ url_for('static', filename='img/iot.png') }}" alt="IoT Device Hacking">
                <p>IoT Device Hacking</p>
            </a>

            <a href="phishing_scam.html" class="risk-card"> <!-- Risk card for Phishing Scam -->
                <img src="{{ url_for('static', filename='img/phishing.png') }}" alt="Phishing Scam">
                <p>Phishing Scam</p>
            </a>
        </div>
    </section>

    <section class="other-threats">
    <h2>Other <span class="highlight-top">Threats</span></h2>
    <p>While the spotlight often shines on the most notorious cyber threats, users must remain vigilant for other lurking dangers which might exploit vulnerabilities and compromise security.</p>
    <img src="{{ url_for('static', filename='img/other_threats.png') }}" alt="Other Threats">
</section>


</main>

<!-- Footer to be placed here -->

</body>
</html>
